{% extends 'base.html.twig' %}

{% block title %}
	Minics | Détails de l'article
{% endblock %}

{% block body %}

	<h1 class="text-center my-4">{{ product.title }}</h1>

	<div class="container my-5 d-flex">
		<div class="img-box mr-4">
			<img src="{{ asset('uploads/images/' ~ product.picture) }}" alt="{{ product.title }}">
		</div>
		<div class="details-box">
			<h5>
				Reference:
				{{ product.reference }}
			</h5>
			<h5>
				Categorie:
				{{ product.category.title }}
			</h5>
			<h5>
				Color:
				{{ product.color }}
			</h5>
			<h5>
				Genre:
				{{ product.gender }}
			</h5>
			<h5>
				Memoire:
				{{ product.size }}
			</h5>
			<h5>Description:
				{{ product.description }}</h5>
			<h5>
				<strong>{{ product.price }}€</strong>
			</h5>
			{% if product.stock %}
				{% if product.stock <= 5 %}
					<i class="text-danger">Plus que
						{{ product.stock }}</i>
				{% endif %}
			{% else %}
				<i class="text-danger">Rupture de stock</i>
			{% endif %}

			<form action="{{ path('app_cart_add', {'id': product.id})}}" method="post" class="d-flex align-items-center mt-4">
				<div class="form-group m-0">
                    
					<select name="quantity" id="quantity" class="form-control">
                     {# //динамическое создание опций с количеством товара с учётом ограничений на максимальное количество (10). #}
                    {% for item in 1..product.stock %}
                        {% if item <= product.stock and item <= 10 %}
                        <option value="{{ item }}">{{ item }}</option>
                        {% endif %}
                    {% endfor %}
						
					</select>
				</div>
				<button type="submit" class="ml-2 btn btn-dark">Ajouter au panier</button>
			</form>
		</div>
	</div>

{% endblock %}
