<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}{% endblock %}
		</title>


		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		<!-- Bulma is included -->
		<link rel="stylesheet" href="{{ asset('css/main.min.css') }}"/>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

		<link
		rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bulma.css"/>

		<!-- Fonts -->
		<link rel="dns-prefetch" href="https://fonts.gstatic.com"/>
		<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css"/>
		<style>
			#app {
				padding-top: 3.25rem;
			}
		</style>

	</head>

	<body>
		{# declaration de variable TWIG, retourne la route sur laquelle on se trouve #}
		{% set currentPath = app.request.attributes.get('_route')%}
		{{ dump(currentPath) }}
		<div id="app">
			<nav id="navbar-main" class="navbar is-fixed-top">
				<div class="navbar-brand">
					<a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
						<span class="icon">
							<i class="mdi mdi-forwardburger mdi-24px"></i>
						</span>
					</a>
				</div>
				<div class="navbar-menu fadeIn animated faster" id="navbar-menu">
					<div class="navbar-end">
						<div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
							<a
								class="navbar-link is-arrowless">
								<!-- <div class="is-user-avatar">
																																																								                <img
																																																								                  src="https://avatars.dicebear.com/v2/initials/john-doe.svg"
																																																								                  alt="John Doe" />
																																																								              </div> -->
								<div class="is-user-name">
									<span>ALBERT GRABAR</span>
								</div>
								<!-- <span class="icon"><i class="mdi mdi-chevron-down"></i></span> -->
							</a>

						</div>
						<a href="connexion.php?action=logout" title="Log out" class="navbar-item is-desktop-icon-only">
							<span class="icon">
								<i class="mdi mdi-logout"></i>
							</span>
							<span>Log out</span>
						</a>
					</div>
				</div>
			</nav>
			<aside class="aside is-placed-left is-expanded">
				<div class="aside-tools">
					<div class="aside-tools-label">
						<span>
							<b>Boutique</b>
							Admin</span>
					</div>
				</div>
				<div class="menu is-menu-main">
					<p class="menu-label">General</p>
					<ul class="menu-list">
						<li>
							<a href="{{ path('app_admin') }}" class="{% if currentPath is same as 'app_admin' %}is-active{% endif%} has-icon">
							
								<span class="icon {% if currentPath is same as 'app_admin' %} has-update-mark{% endif%}">
									<i class="mdi mdi-desktop-mac"></i>

								</span>
								<span class="menu-item-label">Dashboard</span>
							</a>
						</li>
					</ul>
					<p class="menu-label">MENU</p>
					<ul class="menu-list">
						<li>
							<a href="{{ path('app_admin_category') }}" class="{% if currentPath is same as 'app_admin_category' %}is-active{% endif%} has-icon">
								<span class="icon {% if currentPath is same as 'app_admin_category' %} has-update-mark{% endif%}">
									<span class="mdi mdi-store"></span>
								</span>
								<span class="menu-item-label">Category produit
								</span>
							</a>
						</li>
						<li>
							<a href="{{ path('app_admin_products') }}" class="{% if currentPath is same as 'app_admin_products' %}is-active{% endif%} has-icon">
								<span class="icon {% if currentPath is same as 'app_admin_products' %} has-update-mark{% endif%}">
									<span class="mdi mdi-store"></span>
								</span>
								<span class="menu-item-label">Boutique</span>
							</a>
						</li>
						<li>
							<a href="{{ path('app_admin_orders') }}" class="{% if currentPath is same as 'app_admin_orders' %}is-active{% endif%} has-icon">
								<span class="icon {% if currentPath is same as 'app_admin_orders' %} has-update-mark{% endif%}">
									<span class="mdi mdi-sheep"></span>
								</span>
								<span class="menu-item-label">Commandes</span>
							</a>
						</li>
						<li>
							<a href="{{ path('app_admin_users') }}" class="{% if currentPath is same as 'app_admin_users' %}is-active{% endif%} has-icon">
								<span class="icon {% if currentPath is same as 'app_admin_users' %} has-update-mark{% endif%}">
									<i class="mdi mdi-account-circle"></i>
								</span>
								<span class="menu-item-label">Utilisateurs</span>
							</a>
						</li>
						<li>
							<a href="{{ path('app_home') }}" title="Retour a l'acceuil" class="has-icon">
								<span class="icon">
									<i class="mdi mdi-logout"></i>
								</span>
								<span>Quitter</span>
							</a>
						</li>
					</ul>
				</div>
			</aside>

			{% block body %}{% endblock %}

			<footer class="footer">
				<div class="container-fluid">
					<div class="level">
						<div class="level-left">
							<div class="level-item">© 2025, ALBERT GRABAR</div>
						</div>
					</div>
				</div>
			</footer>

			<!-- Scripts below are for demo only -->
			<script type="text/javascript" src="{{ asset('js/main.min.js') }}"></script>
			{# // <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
			// <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
			// <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bulma.js"></script>
			// <script src="assets/js/dataTable/dataTable.js"></script> #}

			{% block javascripts %}{% endblock %}

			<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
			<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"/>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	</body>
</html>
